<style>
  .info {
    text-align: center;

  }

  .corazon {
    color: red;
  }
</style>

<div class="info">
  <h1 class="corazon">♥️ ritmo cardiaco</h1>
  <h2>{{cardioTemp}}</h2>
  <h4>este valor es un promedio entre todas las mediciones y no representa las pulsaciones por minuto</h4>

  <app-cardio-graph [inputData] = {cardioArray} > </app-cardio-graph>


  <h1>🌡️temperatura</h1>
  <h2>{{infoSalud[0].humedad}}</h2>

  <h1>☁️humedad</h1>
  <h2>{{infoSalud[0].temperatura}}</h2>
</div>



<router-outlet></router-outlet>